
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content" *ngIf="progressoPublicacao == 'pendente'">
        <form [formGroup]='formulario' (ngSubmit)="postar()">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Criar publicação</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            <input type="text" placeholder="Título da publicação" class="form-control"  formControlName='titulo'>
            <br>
            <textarea placeholder="conteudo da publicacao" class="form-control" formControlName='content'></textarea>
            <br>
            <input type='file'  class="form-control" accept='image/*' (change)='preparaImagemUpload($event)'>

            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            <button type="submit" class="btn btn-primary" >Publicar</button>
            </div>
        </form> 
      </div>

      <div class="modal-content" *ngIf="progressoPublicacao == 'concluido'">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Publicação realizada com sucesso</h5>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        </div>
        <div class="modal-body">
          Sua publicação foi realizada com sucesso!
        </div>
    </div>

    </div>
  </div>